.profile-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  opacity: 0.9;
  height: 100vh;
}
.profile-info {
  width: 30%;
  height: 90vh;
  background-color: #2F4F4F;
  text-align: center;
  color: #fff;
}
.tel{
  width: 36%;
  margin: 0 auto 10px;
}
.tel input {
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}
.show{
  display: block !important;
}
.hide {
  display: none !important;
}
.show-input-btn{
  font-size: 10px !important;
  margin-bottom: 20px !important;
}