.speedometr{
  width: 367px;
  height: 351px;
  border: solid 4px #E86519;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
.black{
  width:100%;
  height:95px;
  background:#000;
  position:absolute;
  bottom:-5px;
  left:0px;
}
.ris-w{
  position:absolute;
  width: 9px;
  height: 2px;
  background-color:#fff;
}
.ris-w:nth-child(1){
  top: 148px;
  left: 21px;
  transform: rotate(28deg);
}
.ris-w:nth-child(2){
  top: 104px;
  left: 43px;
  transform: rotate(34deg);
}
.ris-w:nth-child(3){
  top: 66px;
  left: 75px;
  transform: rotate(45deg);
}
.ris-w:nth-child(4){
  top: 42px;
  left: 117px;
  transform: rotate(60deg);
}
.ris-w:nth-child(5){
  top: 31px;
  right: 187px;
  transform: rotate(-90deg);
}
.ris-w:nth-child(6){
  top: 39px;
  right: 129px;
  transform: rotate(-67deg);
}
.ris-w:nth-child(7){
  top: 64px;
  right: 82px;
  transform: rotate(-61deg);
}
.ris-w:nth-child(8){
  top: 98px;
  right: 49px;
  transform: rotate(-49deg);
}
.ris-w:nth-child(9){
  top: 139px;
  right: 24px;
  transform: rotate(-28deg);
}
.speed{
  color:#fff;
  font-size: 17px;
  display: block;
  position: absolute;
}
span.s-0{
  top: 179px;
  left: 31px;
}
span.s-1{
  top: 147px;
  left: 37px;
}
span.s-2{
  top: 107px;
  left: 58px;
}
span.s-3{
  top: 74px;
  left: 88px;
}
span.s-4{
  top: 54px;
  left: 124px;
}
span.s-5{
  top: 44px;
  left: 173px;
}
span.s-6{
  top: 50px;
  right: 136px;
}
span.s-7{
  top: 75px;
  right: 90px;
}
span.s-8{
  top: 104px;
  right: 59px;
}
span.s-9{
  top: 140px;
  right: 39px;
}
span.s-10{
  top: 179px;
  right: 30px;
}
.strelka{
  width: 126px;
  height: 5px;
  background-color: #FFA429;
  border-radius: 50% 5px 5px 50%;
  position: absolute;
  left: 60px;
  top: calc(50% - 8px / 2);
  transform: rotate(-6deg);
  transform-origin: 100%;
  transition: .6s;
}
.first {
  transform: rotate(7deg);
}
.second {
  transform: rotate(25deg);
}
.third {
  transform: rotate(44deg);
}
.fourth {
  transform: rotate(63deg);
}
.fifth {
  transform: rotate(86deg);
}
.sixth {
  transform: rotate(110deg);
}
.seventh {
  transform: rotate(133deg);
}
.eighth {
  transform: rotate(152deg);
}
.nineth {
  transform: rotate(169deg);
}
.tenth {
  transform: rotate(186deg);
}